<!-- Default home page -->
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>

  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a href="#" class="navbar-brand"><%= __('Welcome to Fapp.') %></a>
      </div>

      <div class="collapse navbar-collapse pull-right" id="main-navbar">
        <ul class="nav navbar-nav">
          <li><a href="/auth/reddit/">Login/Register</a></li>
        </ul>
      </div>
    </div>
  </nav>


<div class="container">
  <div class="main container clearfix">

    <div class="content">

      <h2>Welcome to Flair-apps App</h2>
      <p>This is a site that helps with the application of flairs on Reddit</p>

      <p>To get started, <a href="/auth/reddit/">login with Reddit</a> and then start adding your trades</p>

    </div>
  </div>
</div>
