<!DOCTYPE html>
<html>
  <head>
    <title>Forbidden</title>
  </head>
  <body>

    <div class="page">
      <div class="main">
        <img class="center-block" src="/images/old_man_403.png" />
        <% if (typeof error !== 'undefined') { %>
          <center><pre class="error"><code>
            <%- error %>
          </code></pre></center>
        <% } %>
      </div>
    </div>

  </body>
</html>
