<div class="modal fade" id="privacypolicy" tabindex="-1" role="dialog"
     aria-labelledby="privacypolicy" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h2 class="modal-title">FlairHQ Privacy Policy</h2>
            </div>
            <div class="modal-body">
                <h3>Reddit</h3>
                <p>FlairHQ uses Reddit to authenticate users. This is for 3 reasons:</p>
                <ul>
                    <li>All our users are on Reddit (due to the usage of the site)</li>
                    <li>One less password for users to remember</li>
                    <li>We do not store any credentials for the
                        user that can't be easily revoked</li>
                </ul>
                <p>We use Reddit's authentication system, which means that we <strong>never have access to your password</strong>,
                    and you can revoke our access to your account at any time from the reddit settings.</p>
                <h4>Reddit Permissions</h4>
                <p>We only request permissions necessary for the site to function.</p>
                <ul>
                    <li>
                        <strong>Access my reddit username and signup date</strong>
                        <p>We require this to tie you to a reddit account, this is
                            necessary for any Reddit oauth usage.</p>
                    </li>
                </ul>

                <h3>Google Analytics</h3>
                <p>FlairHQ uses Google Analytics to collect data about how users
                    use the site. This allows us to improve the site by seeing
                    what is confusing/unused and tailor the design best.</p>

                <h3>User-specific information</h3>
                <p>Like most web services, FlairHQ occasionally logs information
                    sent to us by your browser, such as user-agent strings and IP
                    addresses.</p>

                <h3>Other</h3>
                <p>
                    All other information we gather is the information you enter into the site
                    (this includes, but is not limited to: 3DS friend codes, links to trades,
                    in game names and any comments made). All of this information is publicly
                    viewable across the site by anyone.
                </p>

                <p>
                    FlairHQ is open-source. For specifics on what information is collected by FlairHQ,
                    you can view the source code in its <a href="https://github.com/pokemontrades/flairhq">git repository</a>.
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->
