<div class="container" ng-controller="adminCtrl">
  <div class="main container clearfix">

    <div class="content row">

      <h2>Tools</h2>

      <div class="col-md-12">
        <h3>Subreddit Greasemonkey Script</h3>

        <ul>
          <li>Install <a href="https://addons.mozilla.org/en-GB/firefox/addon/greasemonkey/">Greasemonkey on firefox</a>,
            <a href="https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo?hl=en">Tampermonkey on Chrome</a>
            or <a href="https://tampermonkey.net/?browser=safari">Tampermonkey for Safari</a></li>
          <li>Install the <a href="https://github.com/pokemontrades/scripts/raw/master/greasemonkey/flairhqLinks.user.js">Script</a></li>
        </ul>

        <img src="/tools/greasemonkey.png" />
      </div>

      <div class="col-md-12">
        <h3>FlairHQ Dark Mode</h3>

        <ul>
          <li>Install <a href="https://userstyles.org/">Stylish in your browser</a></li>
          <li>Install the <a href="https://userstyles.org/styles/115908/flairhq-night-mode">Dark mode theme</a></li>
        </ul>

        <p> Note, this will probably be pretty buggy, as it was mostly added just as a joke. </p>

        <img src="/tools/darkmode.png" />
      </div>

    </div>
  </div>
</div>
