<!DOCTYPE html>
<html>
  <head>
    <title>Forbidden</title>
    <link href="http://sailsjs.org/styles/fonts.css" rel="stylesheet"/>
  </head>
  <body>

    <div class="page">
      <div class="main">
        <img class="center-block" src="/images/old_man_403.png" />
      </div>
    </div>

  </body>
</html>
