<!DOCTYPE html>
<html>
  <head>
    <title>Server Error</title>
    </head>
    <body>
    <div class="fivehundred">
      <div class="main">
        <h1 class="text-center">500: Internal Server Error</h1>
        <% if (typeof error !== 'undefined') { %>
        <pre class="error"><code>
        	<%- error %>
        </code></pre>
        <% } else { %>
       <p class="error">
        </p>
      <% } %>
        <img class="center-block" src="/images/spinda_500.png" />
      </div>
    </div>
  </body>
</html>
