<div class="container">
  <div class="main container clearfix">

    <div class="content">

      <h2>Welcome to FlairHQ</h2>
      <p>This is a site that helps with the application of flairs on Reddit.</p>
      <p>To get started, <a href="{{'/auth/reddit' + (query.redirect ? '?redirect=' + $encodeURIComponent(query.redirect) : '')}}">
        login with Reddit</a> and then start adding your trades.</p>
      <img src="/images/steps.png" class="img-responsive" />
    </div>
  </div>
</div>
