<div class="modal fade" id="flairMod" tabindex="-1" role="dialog"
     aria-labelledby="flairModeration" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Edit Flair types</h4>
      </div>
      <div class="modal-body">
        <ul class="list-unstyled" ng-show="user">
          <li ng-repeat="flair in flairs">
              <div class="row">
                <div class="col-md-1">
                  <div class="input-group">
                    <span ng-class="'flair-' + flair.name" class="input-group-addon"></span>
                    <select ng-model="flair.name" class="form-control"
                            ng-options="image.name as image.name for image in flairNames"></select>
                  </div>
                </div>
                <div class="col-md-2 col-md-offset-1">
                  <select ng-model="flair.sub" class="form-control"
                          ng-options="sub.name as sub.view for sub in subNames"></select>
                </div>
                <div class="col-md-2">
                  <input type="number" class="form-control"
                         ng-model="flair.trades" placeholder="Trades" />
                </div>
                <div class="col-md-2">
                  <input type="number" class="form-control"
                         ng-model="flair.shinyevents" placeholder="EventShinies" />
                </div>
                <div class="col-md-2">
                  <input type="number" class="form-control"
                         ng-model="flair.events" placeholder="Events" />
                </div>
                <div class="col-md-2">
                  <input type="number" class="form-control"
                         ng-model="flair.eggs" placeholder="Eggs" />
                </div>
              </div>
          </li>
        </ul>
        <button class="btn btn-default btn-xs col-md-offset-1" ng-click="addFlair()">
          <span class="glyphicon glyphicon-plus-sign"></span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="saveFlairs()">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div><!-- /.modal -->