<div class="container" ng-controller="indexCtrl">
  <div class="main container clearfix">

    <div class="content">

      <div class="col-md-5">
        <h2 class="text-center">This is your reference.</h2>

        <h3 class="text-center">There are many like it, but this one is yours.</h3>
        <br/>

        <p class="text-center">You can add references to the right, and then they will appear below.</p>

        <p class="text-center">If you are unsure what to do, go to this <a href="http://www.reddit.com/r/pokemontrades/wiki/flairhq">how to</a>.</p>
      </div>

      <form class="form-horizontal col-md-7" role="form">
        <div id="addNewReference">
          <div class="form-group">
            <label for="referenceUrl" class="col-md-4 control-label">Permalink</label>

            <div class="col-md-8">
              <input type="url" class="form-control" ng-model="refUrl"></input>
            </div>
          </div>

          <div class="form-group">
            <label for="referenceUrl" class="col-md-4 control-label">Type</label>

            <div class="col-md-8">
              <select id="type" class="form-control" ng-model="type">
                <optgroup label="/r/pokemontrades">
                  <option value="event">Event</option>
                  <option value="shiny">Shiny</option>
                  <option value="casual">Competitive/Casual</option>
                  <option value="bank">Bank</option>
                  <option value="giveaway">Giveaway/Contest</option>
                  <option value="involvement">Involvement</option>
                </optgroup>
                <optgroup label="/r/pokemontrades">
                  <option value="egg">Egg Hatch</option>
                  <option value="eggcheck">Egg/TSV Check</option>
                  <option value="giveaway">Giveaway</option>
                </optgroup>
                <optgroup label="/r/pokemontrades">
                  <option value="misc">Miscellaneous</option>
                </optgroup>
              </select>
            </div>
          </div>

          <div class="form-group"
               ng-show="type === 'egg' || type === 'giveaway' || type === 'misc' || type === 'eggcheck' || type === 'involvement'">
            <label for="descrip" class="col-md-4 control-label">Description</label>

            <div class="col-md-8">
              <input type="text" class="form-control" ng-model="descrip"></input>
            </div>
          </div>

          <div class="form-group" ng-show="type === 'giveaway' || type === 'eggcheck'">
            <label for="number" class="col-md-4 control-label">Number given:</label>

            <div class="col-md-8">
              <input type="text" class="form-control" ng-model="number"></input>
            </div>
          </div>

          <div class="form-group"
               ng-hide="type === 'egg' || type === 'giveaway' || type === 'misc' || type === 'eggcheck' || type === 'involvement'">
            <label for="gave" class="col-md-4 control-label">Gave:</label>

            <div ng-class="{'col-md-8': isFocused(), 'col-md-3': !isFocused()}">
              <input type="text" class="form-control" ng-model="gave"
                     ng-focus="focus.gavegot=true" ng-blur="focus.gavegot=false"></input>
            </div>
            <label class="col-md-2 control-label"
                   ng-class="{'col-md-offset-2': isFocused()}">Got:</label>

            <div ng-class="{'col-md-8': isFocused(), 'col-md-3': !isFocused()}">
              <input type="text" class="form-control" ng-model="got"
                     ng-focus="focus.gavegot=true" ng-blur="focus.gavegot=false"></input>
            </div>
          </div>

          <div class="form-group" ng-hide="type === 'giveaway' || type === 'eggcheck'">
            <label for="referenceUrl" class="col-md-4 control-label">User</label>

            <div class="col-md-8">
              <input type="text" class="form-control" ng-model="user2"></input>
            </div>
          </div>

          <div class="form-group">
            <label for="referenceUrl" class="col-md-4 control-label">Notes</label>

            <div class="col-md-8">
              <textarea class="form-control" ng-model="notes"></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-4 col-md-2">
              <input type="submit" id="addReferenceButton" class="btn btn-default" value="Add"
                     ng-click="addReference()"></input>
            </div>
            <div class="col-md-6">
              <div class="alert alert-danger" role="alert" ng-hide="!addRefError">{{addRefError}}</div>
            </div>
          </div>

        </div>
      </form>

      <%- partial('references.ejs', {theUser: "user", refPage: false}) %>
      <%- partial('editreference.ejs') %>


    </div>
  </div>
</div>
