<div class="container" ng-controller="indexCtrl">
  <div class="main container clearfix">

    <div class="content">

      <div class="col-md-7">
        <h2 class="text-center">This is your reference.</h2>

        <h3 class="text-center">There are many like it, but this one is yours.</h3>
        <br/>

        <p class="text-center">You can add references to the right, and then they will appear below.</p>
      </div>

      <form class="form-horizontal col-md-5" role="form">
        <div id="addNewReference">
          <div class="form-group">
            <label for="referenceUrl" class="col-sm-4 control-label">Permalink</label>

            <div class="col-md-8">
              <input type="url" class="form-control" ng-model="refUrl"
                      placeholder="http://www.reddit.com/pokemontrades/comments/123dsw/trade_some_stuff/fsdfwe"></input>
            </div>
          </div>

          <div class="form-group">
            <label for="referenceUrl" class="col-sm-4 control-label">Type</label>

            <div class="col-md-8">
              <select id="type" class="form-control" ng-model="type">
                <option value="event">Event</option>
                <option value="redemption">Redemption</option>
                <option value="shiny">Shiny</option>
                <option value="casual">Competitive/Casual</option>
                <option value="bank">Bank</option>
                <option value="egg">Egg Hatch</option>
                <option value="giveaway">Giveaway</option>
                <option value="misc">Miscellaneous</option>
              </select>
            </div>
          </div>

          <div class="form-group"
               ng-show="type === 'egg' || type === 'giveaway' || type === 'misc'">
            <label for="descrip" class="col-sm-4 control-label">Description</label>

            <div class="col-md-8">
              <input type="text" class="form-control" ng-model="descrip"></input>
            </div>
          </div>

          <div class="form-group"
               ng-hide="type === 'egg' || type === 'giveaway' || type === 'misc'">
            <label for="gave" class="col-sm-4 control-label">Gave:</label>

            <div class="col-md-3">
              <input type="text" class="form-control" ng-model="gave"
                      placeholder="6IV pikachu"></input>
            </div>
            <label class="col-sm-2 control-label">Got:</label>

            <div class="col-md-3">
              <input type="text" class="form-control" ng-model="got"
                      placeholder="Mew"></input>
            </div>
          </div>

          <div class="form-group" ng-hide="type === 'giveaway'">
            <label for="referenceUrl" class="col-sm-4 control-label">User</label>

            <div class="col-md-8">
              <input type="text" class="form-control" ng-model="user2"
                      placeholder="/u/YaManicKill"></input>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-2">
              <input type="submit" id="addReferenceButton" class="btn btn-default" value="Add"
                     ng-click="addReference()"></input>
            </div>
            <div class="col-sm-6">
              <div class="alert alert-danger" role="alert" ng-hide="!addRefError">{{addRefError}}</div>
            </div>
          </div>

        </div>
      </form>

      <%- partial('references.ejs', {theUser: "user", refPage: false}) %>
      <%- partial('editreference.ejs') %>


    </div>
  </div>
</div>
