.flair-pokeball:before,
.wiki-page-content a[href="/pokeball"],
.side a[href="/pokeball"],
a[href="/pokeball"] {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url(/images/ballflairs.png) -0px -0px;
  vertical-align: middle;
  margin-left: 0px;
  margin-top: -4px;
}
.flair-greatball:before,
.wiki-page-content a[href="/greatball"],
.side a[href="/greatball"],
a[href="/greatball"] {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url(/images/ballflairs.png) -24px -0px;
  vertical-align: middle;
  margin-left: 0px;
  margin-top: -4px;
}
.flair-ultraball:before,
.wiki-page-content a[href="/ultraball"],
.side a[href="/ultraball"],
a[href="/ultraball"] {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url(/images/ballflairs.png) -48px -0px;
  vertical-align: middle;
  margin-left: 0px;
  margin-top: -4px;
}
.flair-masterball:before,
.wiki-page-content a[href="/masterball"],
.side a[href="/masterball"],
a[href="/masterball"] {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url(/images/ballflairs.png) -72px -0px;
  vertical-align: middle;
  margin-left: 0px;
  padding:0px;
  margin-top: -4px;
}
.flair-cherishball:before,
.wiki-page-content a[href="/cherishball"],
.side a[href="/cherishball"],
a[href="/cherishball"] {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url(/images/ballflairs.png) -96px -0px;
  vertical-align: middle;
  margin-left: 0px;
  margin-top: -4px;
}
.flair-gsball:before,
.wiki-page-content a[href="/gsball"],
.side a[href="/gsball"],
a[href="/gsball"] {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url(/images/ballflairs.png) -120px -0px;
  vertical-align: middle;
  margin-left: 0px;
  margin-top: -4px;
}
.flair-default:before,
.wiki-page-content a[href="/default"],
.side a[href="/default"],
a[href="/oldschool"] {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url(/images/ballflairs.png) -144px -0px;
  vertical-align: middle;
  margin-left: 0px;
  margin-top: -4px;
}
.flair-premierball:before,
.wiki-page-content a[href="/premierball"],
.side a[href="/premierball"],
a[href="/premierball"] {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url(/images/ballflairs.png) -168px -0px;
  vertical-align: middle;
  margin-left: 0px;
  margin-top: -4px;
}
.flair-safariball:before,
.wiki-page-content a[href="/safariball"],
.side a[href="/safariball"],
a[href="/safariball"] {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url(/images/ballflairs.png) -192px -0px;
  vertical-align: middle;
  margin-left: 0px;
  margin-top: -4px;
}
.flair-luxuryball:before,
.wiki-page-content a[href="/luxuryball"],
.side a[href="/luxuryball"],
a[href="/luxuryball"] {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url(/images/ballflairs.png) -216px -0px;
  vertical-align: middle;
  margin-left: 0px;
  margin-top: -4px;
}
.flair-dreamball:before,
.wiki-page-content a[href="/dreamball"],
.side a[href="/dreamball"],
a[href="/dreamball"] {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url(/images/ballflairs.png) -240px -0px;
  vertical-align: middle;
  margin-left: 0px;
  margin-top: -4px;
}
.flair-ovalcharm:before,
.wiki-page-content a[href="/ovalcharm"],
.side a[href="/ovalcharm"],
a[href="/ovalcharm"] {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url(/images/ballflairs.png) -648px -0px;
  vertical-align: middle;
  margin-left: 0px;
  margin-top: -4px;
}
.flair-shinycharm:before,
.wiki-page-content a[href="/shinycharm"],
.side a[href="/shinycharm"],
a[href="/shinycharm"] {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url(/images/ballflairs.png) -672px -0px;
  vertical-align: middle;
  margin-left: 0px;
  margin-top: -4px;
}

.flair-egg:before,
a[href="/egg"] {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url(/images/egg.png) -0px -0px;
  vertical-align: middle;
  margin-left: 0px;
  margin-top: -4px;
}

.flair-eevee:before,
a[href="/eevee"] {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url(/images/eevee.png) -0px -0px;
  vertical-align: middle;
  margin-left: 0px;
  margin-top: -4px;
}

.flair-togepi:before,
a[href="/togepi"] {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url(/images/togepi.png) -0px -0px;
  vertical-align: middle;
  margin-left: 0px;
  margin-top: -4px;
}

.flair-manaphy:before,
a[href="/manaphy"] {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url(/images/manaphy.png) -0px -0px;
  vertical-align: middle;
  margin-left: 0px;
  margin-top: -4px;
}


.flair-ribbon1:after, .flair-ribbon2:after, .flair-ribbon3:after, .flair-ribbon4:after, .flair-ribbon5:after {
  content: "";
  width: 22px;
  height: 22px;
  display: inline-block;
  background-image: url(/images/ribbonFlairs.png);
  vertical-align: middle;
  margin: 0 1px 0 1px;
}

.flair-ribbon1:after { background-position: 0 0;}
.flair-ribbon2:after { background-position: -22px 0; margin-bottom: 2px; }
.flair-ribbon3:after { background-position: -44px 0;}
.flair-ribbon4:after { background-position: -66px 0; margin-bottom: -2px; }
.flair-ribbon5:after { background-position: -88px 0; margin-bottom: -2px; }