<h4 class="list-group-item-heading">
    /u/{{result._id}}
</h4>

<p class="list-group-item-text">
    /r/PokemonTrades: {{result.flair.ptrades.flair_text}}<br />
    /r/SVExchange: {{result.flair.svex.flair_text}}
</p>