<div class="form-group col-md-3">
    <label>Search keyword</label>
    <input type="text" class="form-control" placeholder="Search"
           ng-change="search.searchMaybe()" ng-model="search.input.keyword"
           ng-init="search.input.keyword='<%- searchTerm %>'"
           ng-submit="search.submit()"/>
    <input type="submit" style="position: absolute; left: -9999px"/>
</div>
