<h4 class="list-group-item-heading">
    {{result.subject}} <em>by /u/{{result.author}}</em>
</h4>
<p class="list-group-iitem-text">
    <strong>{{result.created_utc * 1000 | date:"yyyy-MM-dd HH:mm:ss' GMT'Z"}}</strong><br>
</p>
<md ng-model="result.body"></md>
