{
  "env": {
    "node": true
  },
  "globals": {
    "Reference": true,
    "User": true,
    "Users": true,
    "Ban": true,
    "Reddit": true,
    "Event": true,
    "sails": true,
    "Flair": true,
    "Flairs": true,
    "Usernotes": true,
    "PointLog": true,
    "References": true,
    "Sessions": true,
    "Game": true,
    "Application": true,
    "ModNote": true,
    "Modmail": true,
    "Modmails": true,
    "Team": true,
    "ContestStats": true,
    "Discord": true,
    "_": true
  }
}
