<div class="container" ng-controller="adminCtrl">
  <div class="main container clearfix">

    <div class="content row">

     <h1>
       You have joined Discord as <%= discordInfo.user.username %>#<%= discordInfo.user.discriminator %>
     </h1>
    </div>
  </div>
</div>
