<div class="container" ng-controller="adminCtrl">
  <div class="main container clearfix">

    <div class="content row">

     User is <%= discordInfo.user.username %>#<%= discordInfo.user.discriminator %>
    </div>
  </div>
</div>
