<div class="modal fade" id="flairAppList" tabindex="-1" role="dialog"
     aria-labelledby="flairAppList" aria-hidden="true" ng-controller="adminCtrl">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Flair List</h4>
      </div>
      <div class="modal-body">
        <div class="row">

          <ul class="list-group col-md-11 center-block scrollable">
            <li ng-repeat="app in flairApps" class="list-group-item row">
              <h4>
                <a href="/u/{{app.user}}">/u/{{app.user}}</a> ({{app.createdAt.split('T')[0]}})
                <span ng-if="app.claimedBy"><small>(/u/{{app.claimedBy}} is viewing)</small></span>
                <span class="pull-right">
                  <span title={{formattedRequirements(app.flair)}} text-align="center">
                    {{formattedName(app.flair)}}
                    <small>({{app.sub}})</small>
                </span>
                  <button class="btn btn-primary has-spinner" ng-really-user="{{app.user}}"
                          ng-really-flair="{{formattedName(app.flair)}}"
                          ng-really-click="approveApp(app.id)"
                          ng-class="[adminok.appFlair[app.id] ? 'glyphicon glyphicon-ok' : '',
                            adminspin.appFlair[app.id] ? 'active' : '']">
                    <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
                    {{adminok.appFlair[app.id] ? "" : "Approve"}}
                  </button>
                  <button class="btn btn-danger" ng-really-switch="denyApp"
                          ng-really-click="denyApp(app.id)">Deny</button>
                </span>
              </h4>
            </li>
            <li class="list-group-item" ng-show="flairApps.length === 0">
              There are no flair apps. Good job!
            </li>
          </ul>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="alert alert-danger" ng-show="flairAppError">{{flairAppError}}</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div><!-- /.modal -->