<div class="container" ng-controller="banCtrl">
  <div class="main container clearfix">

    <div class="content">
      <form class="form-horizontal col-md-7" role="form">
        <div id="addBan">
          <ng-tooltip data-label="Username"
              title="The username of the person getting banned">
            <input type="text" class="form-control" ng-model="banInfo.username" />
          </ng-tooltip>

          <ng-tooltip data-label="Ban Note"
                      title="The reason for the ban. The banned user will not see this. 300 characters max.">
            <input type="text" class="form-control" ng-model="banInfo.banNote">
          </ng-tooltip>

          <ng-tooltip data-label="Ban Message"
                      title="The ban message that will get PM'd to the user">
              <textarea class="form-control ban-message" ng-model="banInfo.banMessage"></textarea>
              <md class="ban-md" ng-model="banInfo.banMessage"></md>
          </ng-tooltip>

          <ng-tooltip data-label="Banlist Entry"
                      title="The ban reason that will get listed on the public banlist page, e.g. 'Scamming'. This field will be ignored if the user is an alt of another banned user.">
            <input type="text" class="form-control" ng-model="banInfo.banlistEntry">
          </ng-tooltip>

          <ng-tooltip data-label="Retrading allowed?"
                      title="The entry under 'Retrading allowed?' on the public banlist">
            <input type="text" class="form-control" ng-model="banInfo.tradeNote">
          </ng-tooltip>

          <ng-tooltip data-label="Duration"
                      title="The number of days that the user will be banned for. Leave blank for a permanent ban.">
            <input type="text" class="form-control" ng-model="banInfo.duration">
          </ng-tooltip>

          <ng-tooltip data-label="Known Alt"
                      title="If this user is a known alt of another banned user, put that username here to combine the entries on the banlist. This field is not necessary if both accounts used the same friend code.">
            <input type="text" class="form-control" ng-model="banInfo.knownAlt">
          </ng-tooltip>

          <ng-tooltip data-label="Additional Friend Codes"
                      title="FlairHQ will ban any friend code that has ever been in the user's flairs. If there are additional friend codes that should be banned, list them here.">
            <input type="text" class="form-control" ng-model="banInfo.additionalFCs">
          </ng-tooltip>

          <div class="form-group">
            <div class="col-md-offset-4 col-md-2">
              <button type="button" class="btn btn-default has-spinner" ng-click="banUser()"
                      ng-class="[indexOk.ban ? 'glyphicon glyphicon-ok' : '',
                        indexSpin.ban ? 'active' : '']"
                      ng-disabled="indexSpin.ban">
                <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
                {{indexOk.ban ? "" : "Ban"}}
              </button>
            </div>
            <div class="col-md-6">
              <div class="alert alert-danger" role="alert" ng-hide="!banError">{{banError}}</div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
