<div class="modal fade" id="flairMod" tabindex="-1" role="dialog"
     aria-labelledby="flairModeration" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Edit Flair types</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-1">
            Sprite
          </div>
          <div class="col-md-1">
            Sub
          </div>
          <div class="col-md-2">
            Trades
          </div>
          <div class="col-md-2">
            Tradeback
          </div>
          <div class="col-md-2">
            Giveaways / Contests / Checks
          </div>
          <div class="col-md-2">
            Hatches
          </div>
        </div>
        <ul class="list-unstyled" ng-show="user">
          <li ng-repeat="flair in flairs track by $index">
              <div class="row">
                <div class="col-md-1">
                  <div class="input-group">
                    <span ng-class="['flair-' + flair.name, 'flair-input-group']" class="input-group-addon"></span>
                    <select ng-model="flair.name" class="form-control"
                            ng-options="image.name as image.name for image in flairNames"></select>
                  </div>
                </div>
                <div class="col-md-1">
                  <select ng-model="flair.sub" class="form-control"
                          ng-options="sub.name as sub.view for sub in subNames"></select>
                </div>
                <div class="col-md-2">
                  <input type="number" class="form-control"
                         ng-model="flair.trades" ng-disabled="flair.sub === 'svexchange'"/>
                </div>
                <div class="col-md-2">
                  <input type="number" class="form-control"
                         ng-model="flair.involvement" ng-disabled="flair.sub === 'svexchange'" />
                </div>
                <div class="col-md-2">
                  <input type="number" class="form-control"
                         ng-model="flair.giveaways" />
                </div>
                <div class="col-md-2">
                  <input type="number" class="form-control"
                         ng-model="flair.eggs" ng-disabled="flair.sub === 'pokemontrades'" />
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default" ng-click="deleteFlair($index)">Delete</button>
                </div>
              </div>
          </li>
        </ul>
        <button class="btn btn-default btn-xs" ng-click="addFlair()">
          <span class="glyphicon glyphicon-plus-sign"></span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary has-spinner" ng-click="saveFlairs()"
          ng-class="[userok.saveFlairs ? 'glyphicon glyphicon-ok' : '',
          userspin.saveFlairs ? 'active' : '']">
          <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
          {{userok.saveFlairs ? "" : "Save Changes"}}
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div><!-- /.modal -->