<div class="modal fade" id="flairApplication" tabindex="-1" role="dialog"
     aria-labelledby="flairApplication" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Apply for Flair</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <h3>/r/pokemontrades</h3>
                <div class="list-group col-md-6">
                    <h4>Trader</h4>
                    <a ng-repeat="flair in flairs | filter:inPokemonTradesTrader | orderBy: 'trades' track by flair.id"
                       class="list-group-item" ng-class="[canUserApply(flair) ? '' : 'disabled',
                 (selectedFlair === flair.name) ? 'active' : '']"
                       href="#" ng-click="setSelectedFlair(flair.name, canUserApply(flair))" title={{formattedRequirements(flair.name)}}>
                        <span ng-class="'flair-' + flair.name">{{formattedName(flair.name)}}</span><small ng-show="applied(flair)"> (Pending)</small><small ng-show="userHasFlair(flair)" class="greencheck" title="You already have this flair."> ✓</small>
                    </a>
                </div>
                <div class="list-group col-md-6">
                    <h4>Helper</h4>
                    <a ng-repeat="flair in flairs | filter:inPokemonTradesHelper | orderBy: 'involvement' track by flair.id"
                       class="list-group-item" ng-class="[canUserApply(flair) ? '' : 'disabled',
                 (selectedFlair === flair.name) ? 'active' : '']"
                       href="#" ng-click="setSelectedFlair(flair.name, canUserApply(flair))" title={{formattedRequirements(flair.name)}}>
                        <span ng-class="'flair-' + flair.name">{{formattedName(flair.name)}}</span><small ng-show="applied(flair)"> (Pending)</small><small ng-show="userHasFlair(flair)" class="greencheck" title="You already have this flair."> ✓</small>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <h3>/r/svexchange</h3>
                <div class="list-group col-md-6">
                    <h4>Hatcher</h4>
                    <a ng-repeat="flair in flairs | filter:inSVExchangeHatcher | orderBy: 'eggs' track by flair.id"
                       class="list-group-item" ng-class="[canUserApply(flair) ? '' : 'disabled',
                 (selectedFlair === flair.name) ? 'active' : '']"
                       href="#" ng-click="setSelectedFlair(flair.name, canUserApply(flair))" title={{formattedRequirements(flair.name)}}>
                        <span ng-class="'flair-' + flair.name">{{formattedName(flair.name)}}</span><small ng-show="applied(flair)"> (Pending)</small><small ng-show="userHasFlair(flair)" class="greencheck" title="You already have this flair."> ✓</small>
                    </a>
                </div>
                <div class="list-group col-md-6">
                    <h4>Helper</h4>
                    <a ng-repeat="flair in flairs | filter:inSVExchangeGiver | orderBy: 'giveaways' track by flair.id"
                       class="list-group-item" ng-class="[canUserApply(flair) ? '' : 'disabled',
                 (selectedFlair === flair.name) ? 'active' : '']"
                       href="#" ng-click="setSelectedFlair(flair.name, canUserApply(flair))" title={{formattedRequirements(flair.name)}}>
                        <span ng-class="'flair2-' + flair.name">{{formattedName(flair.name)}}</span><small ng-show="applied(flair)"> (Pending)</small><small ng-show="userHasFlair(flair)" class="greencheck" title="You already have this flair."> ✓</small>
                    </a>
                </div>
            </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="alert alert-danger" ng-show="errors.flairApp">{{errors.flairApp}}</div>
            </div>
          </div>
          <div class="row">
            <div class="alert alert-warning col-md-10 col-md-offset-1">
              <p><strong>Due to increased demand, the team will prioritize processing applications for Poké Ball flairs to allow more traders to meet the shiny/event flair requirement.</strong> Higher flairs will take longer.</p>
              <p>Please keep in mind that flair applications are handled manually by volunteers.</p>
              <p>Thank you for your understanding.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary has-spinner" ng-click="applyFlair()"
            ng-class="{
              glyphicon: userok.applyFlair,
              'glyphicon-ok': userok.applyFlair,
              active: userspin.applyFlair,
              disabled: !canUserApply(getFlair(selectedFlair, flairs))
            }">
          <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
          {{userok.applyFlair ? "" : "Apply"}}
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div><!-- /.modal -->