<div class="container" ng-controller="indexCtrl">
  <div class="main container clearfix">

    <div class="content">

      <div class="col-md-5">
        <h2 class="text-center">This is your reference.</h2>

        <h3 class="text-center">There are many like it, but this one is yours.</h3>
        <br/>

        <p class="text-center">You can add references to the right, and then they will appear below.</p>

        <p class="text-center">If you are unsure what to do, go to <a href="http://www.reddit.com/r/pokemontrades/wiki/flairhq">/r/pokemontrades how to</a>
           or <a href="https://www.reddit.com/r/svexchange/wiki/flairhq">/r/svexchange how to</a>.</p>

          <p class="text-center">
            <a ng-href="/u/<%= user.name %>" class="btn btn-default">Public Profile</a>
            <a href="#flairText" class="btn btn-default" data-toggle="modal">Set Flair Text</a>
            <a href="#flairApplication" class="btn btn-default" data-toggle="modal">Apply for Flair</a>
              </p>
          <p class="text-center">    
            <a href="/discord" class="btn btn-default" data-toggle="modal" ng-if="user.flair.ptrades.flair_text !== null && user.flair.svex.flair_text !== null" >Join /r/pokemontrades Discord</a>
          </p>
      </div>

      <form class="form-horizontal col-md-7" role="form">
        <div id="addNewReference">
          <ng-tooltip data-label="Permalink"
              title="The Permalink URL to the first comment that discusses it. Must be unique (except for egg hatches).">
            <input type="url" class="form-control" ng-model="addInfo.refUrl" />
            <span>{{thingamy.refUrl}}{{thingamy.type}}</span>
          </ng-tooltip>

          <ng-tooltip data-label="Type"
                      title="Type of trade, based on subreddit. More information <a href='http://www.reddit.com/r/pokemontrades/wiki/flairhq'>here</a>.">
            <select id="type" class="form-control" ng-model="addInfo.type">
              <optgroup label="/r/pokemontrades">
                <option value="event">Event</option>
                <option value="shiny">Shiny</option>
                <option value="casual">Competitive/Casual</option>
                <option value="bank">Gen 3-5 Event</option>
                <option value="giveaway">Giveaway/Contest</option>
                <option value="involvement">Free Tradeback/Free Redemption</option>
              </optgroup>
              <optgroup label="/r/SVExchange">
                <option value="egg">Egg Hatch</option>
                <option value="eggcheck">Egg/TSV Check</option>
                <option value="giveaway">Giveaway</option>
              </optgroup>
              <optgroup label="Other">
                <option value="misc">Miscellaneous</option>
              </optgroup>
            </select>
          </ng-tooltip>

          <ng-tooltip data-label="Description" ng-show="isNotNormalTrade(addInfo.type)"
                      title="Short description about the trade.">
            <input type="text" class="form-control" ng-model="addInfo.descrip">
          </ng-tooltip>

          <ng-tooltip data-label="Number given" ng-show="hasNumber(addInfo.type)"
                      title="How many you gave away. This can be updated.">
              <input type="number" class="form-control" ng-model="addInfo.number" min="0">
          </ng-tooltip>

          <ng-tooltip data-label="Gave" ng-hide="isNotNormalTrade(addInfo.type)"
                      title="What you gave to the other user.">
            <input type="text" class="form-control" ng-model="addInfo.gave">
          </ng-tooltip>

          <ng-tooltip data-label="Got" ng-hide="isNotNormalTrade(addInfo.type)"
                      title="What you received from the other user.">
            <input type="text" class="form-control" ng-model="addInfo.got">
          </ng-tooltip>

          <ng-tooltip data-label="User" ng-hide="hasNumber(addInfo.type)"
                      title="The user that you traded with.">
            <input type="text" class="form-control" ng-model="addInfo.user2">
          </ng-tooltip>

          <ng-tooltip data-label="Public Notes"
                      title="Just an area for your own notes about the trade.">
            <textarea class="form-control" ng-model="addInfo.notes"></textarea>
          </ng-tooltip>

          <ng-tooltip data-label="Private Notes"
                      title="An area for private notes about the trade. Nobody else will be able to see these.">
            <textarea class="form-control" ng-model="addInfo.privatenotes"></textarea>
          </ng-tooltip>

          <div class="form-group">
            <div class="col-md-offset-4 col-md-2">
              <button type="button" class="btn btn-default has-spinner" ng-click="addReference()"
                      ng-class="[indexOk.addRef ? 'glyphicon glyphicon-ok' : '',
                        indexSpin.addRef ? 'active' : '']"
                      ng-disabled="indexSpin.addRef">
                <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
                {{indexOk.addRef ? "" : "Add"}}
              </button>
            </div>
            <div class="col-md-6">
              <div class="alert alert-danger" role="alert" ng-hide="!addRefError">{{addRefError}}</div>
            </div>
          </div>

        </div>
      </form>

      <%- partial('references.ejs', {refPage: false}) %>
      <%- partial('editreference.ejs') %>


    </div>
  </div>
</div>
