<div class="container" ng-controller="adminCtrl">
  <div class="main container clearfix">

    <div class="content row">

      <h2>Info about FlairHQ</h2>

      <div class="col-md-9">
        <p>
          This is a special website. It was created to scratch an itch. A very niche itch:
          the organisation of references for
          <a href="http://reddit.com/r/pokemontrades">/r/pokemontrades</a>
          and <a href="http://reddit.com/r/svexchange">/r/svexchange</a>.

          <a href="http://reddit.com/r/pokemontrades">/r/pokemontrades</a>
          and <a href="http://reddit.com/r/svexchange">/r/svexchange</a> use reference pages
          to determine eligibility for the flair images next to users' names. Here you can
          input all of the trades/hatches you have completed, and then submit your application
          for one of the many flair levels. You can read all about the flair guidelines on
          the subreddits' respective wikis.
        </p>

        <a href="http://reddit.com/r/pokemontrades/wiki/flair">
          <img src="/images/TradeFlairs.png" class="small-image"/>
        </a>
        <a href="http://reddit.com/r/svexchange/wiki/flairhq">
          <img src="/images/HatchFlairs.png" class="small-image"/>
        </a>

        <p>
          What are you waiting for? Get referencing!
        </p>
      </div>
      <div class="col-md-3">
        <img src="/images/balls.png" class="img-thumbnail" alt="example of some of the flairs" />
      </div>

      <div class="col-md-12">
        <h3>The Subreddits!</h3>
        <p>
          <a href="http://reddit.com/r/pokemontrades">/r/pokemontrades</a> is a place for trading,
          and <a href="http://reddit.com/r/svexchange">/r/svexchange</a> is a place for hatching
          shiny eggs. But really, if you don't know about the subs, you should go there first,
          not here. Why are you adding references if you haven't traded there yet?
        </p>

        <a href="http://reddit.com/r/pokemontrades/about/rules">
          <img src="/images/TradeRules.png" class="small-image"/>
        </a>

        <a href="http://reddit.com/r/svexchange/about/rules">
          <img src="/images/SvExRules.png" class="small-image"/>
        </a>

        <h3>Contact</h3>
        <p>
          The site was made by <a href="http://reddit.com/u/YaManicKill">/u/YaManicKill</a> and
          any bugs you find (or features you would like added) can be filed
          <a href="http://github.com/pokemontrades/flairhq">on GitHub</a>.
          If you have any issues about the rules, or if you've been banned, you just don't like
          the sub or you would like to just moan about life, feel free to
          <a href="http://www.reddit.com/message/compose?to=%2Fr%2Fpokemontrades#/#fapp">contact the mods</a>.

          They aren't that scary. Honestly.
        </p>

        <h3>Donations</h3>
        <p>
          The site costs money to run, and because of this, we have opened up donations to allow people to help us fund it. If you wish to help, please do so.
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="6XB9LJU6K6YW8">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </p>
      </div>

    </div>
  </div>
</div>
