<form class="form-horizontal" role="form">

  <div class="row">
    <h3>Moderation of user stuff</h3>
  </div>
  <div class="row">

    <!-- Mod notes!!! -->
    <div class="col-md-6">
      <div class="form-group">
        <label class="col-sm-3 control-label">Mod notes:</label>

        <div class="col-md-8">
          <div class="row" id="comments">
            <div class="comment panel panel-default" ng-repeat="note in refUser.modNotes">
              <div class="panel-heading">
                <a ng-href="/u/{{note.user}}">{{note.user}}</a>
                <span class="pull-right">
                  {{note.createdAt | date: "medium"}}
                  <a ng-controller="referenceCtrl" ng-if="user.isMod && user.modPermissions && user.modPermissions.includes('all')" href="#" ng-click="delNote(note.id)">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                </span>
              </div>
              <div class="panel-body">
                <md ng-model="note.note"></md>
              </div>
            </div>
          </div>
          <div class="form-group" ng-if="user.isMod && user.modPermissions && user.modPermissions.includes('all')">
            <textarea class="form-control" ng-model="newStuff.newNote" ng-trim="false"
                      placeholder="Add Note with markdown"></textarea>
            <div class="panel panel-default">
              <div class="panel-heading">Preview</div>
              <div class="panel-body" ><md ng-model="newStuff.newNote"></md></div>
            </div>
            <button type="button" class="btn btn-primary"
                    ng-disabled="!newStuff.newNote.trim()" ng-click="addNote()">Add note</button>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-6" ng-if="user.isMod && user.modPermissions && user.modPermissions.includes('all')">
      <div class="form-group">
        <label class="col-sm-3 control-label">Introduction:</label>

        <div class="col-md-8">
          <textarea class="form-control" ng-model="refUser.intro" ng-maxlength="10000" maxlength="10000"></textarea>
          <span style="float:right">{{refUser.intro.length || 0}}/10000</span>
        </div>
      </div>

      <div class="form-group">
        <label for="friendcode1" class="col-sm-3 control-label">Friend Code:</label>

        <div class="col-md-8">
          <input type="text" class="form-control"
                 ng-repeat="fc in refUser.friendCodes track by $index"
                 ng-model="refUser.friendCodes[$index]"></input>
        </div>
      </div>

      <div class="form-group" ng-repeat="game in refUser.games | orderBy:'createdAt'">
        <label class="col-sm-3 control-label">IGN:</label>

        <div class="col-md-3">
          <input type="text" class="form-control" ng-model="game.ign"></input>
        </div>
        <label class="col-sm-2 control-label">TSV:</label>

        <div class="col-md-3">
          <input type="text" class="form-control" ng-model="game.tsv"></input>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12 col-md-offset-3">
          <button type="button" class="btn btn-primary has-spinner" ng-click="modSaveProfile()"
                  ng-class="[ok.modSaveProfile ? 'glyphicon glyphicon-ok' : '',
                spin.modSaveProfile ? 'active' : '']">
            <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
            {{ok.modSaveProfile ? "" : "Save changes"}}
          </button>
          <button type="button" class="btn btn-danger" ng-click="setLocalBan(refUser.name, true)"
                  ng-if="!refUser.banned">Ban User</button>
          <button type="button" class="btn btn-danger" ng-click="setLocalBan(refUser.name, false)"
                  ng-if="refUser.banned">Unban User</button>
          <button type="button" class="btn btn-danger has-spinner" ng-click="modClearSessions(refUser.name)"
                  ng-class="[ok.modClearSessions ? 'glyphicon glyphicon-ok' : '',
                  spin.modClearSessions ? 'active' : '']">
            <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
            {{ok.modClearSessions ? "" : "Clear Sessions"}}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div ng-value="modSaveError" ng-show="modSaveError" class="alert alert-danger" role="alert" hidden></div>
    </div>
  </div>
</form>
