<div class="row">
  <div class="col-md-12">
    <h3>{{refUser.name}}'s Information</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h4>Introduction:</h4>
    <md ng-model="refUser.intro" style="word-break: break-all"></md>
  </div>
  <div class="col-md-6">
    <h4>Friend codes:</h4>
    <ul>
      <li ng-repeat="fc in refUser.friendCodes">{{fc}}</li>
    </ul>

    <h4>Games:</h4>
    <ul>
      <li ng-repeat="game in refUser.games | orderBy:'createdAt'"
          ng-show="game.ign || game.tsv">
        <span ng-if="game.ign">IGN: {{game.ign}}</span>
        <span ng-if="game.tsv >= 0">TSV: {{game.tsv | numberPadding:4}}</span>
      </li>
    </ul>
  </div>
</div>
