<div class="container" ng-controller="referenceCtrl">
  <div class="main container clearfix">

    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <h1 class="usernameHeader">
            {{refUser.name}}
          </h1>
          <div class="flairs">
            <h5 class="flairListing" ng-repeat="flair in refUser.flair">
              <span ng-class="renderCSSClass(flair.flair_css_class)">
                {{renderFlair(flair.flair_text)}}
              </span>
            </h5>
          </div>
          <% if (refUser.banned) { %>
            <h4 class="alert alert-danger pull-right">
              <strong>WARNING:</strong> This user is banned.
            </h4>
          <% } %>
        </div>
      </div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist" id="tabList">
        <li class="active"><a href="#references" role="tab" data-toggle="tab">References</a></li>
        <li><a href="#comments" role="tab" data-toggle="tab">Comments ({{refUser.comments.length}})</a></li>
        <li><a href="#info" role="tab" data-toggle="tab">Information</a></li>
        <li ng-if="user.isMod && user.modPermissions && (user.modPermissions.includes('all')  || (user.modPermissions.includes('posts') && user.modPermissions.includes('wiki')))"><a href="#modEdit" role="tab" data-toggle="tab">Moderation ({{refUser.modNotes.length}})</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="references">
          <%- partial('references.ejs', {refPage: true}) %>
        </div>
        <div class="tab-pane" id="comments">

          <div class="col-md-4" ng-if="user">
            <form role="form" ng-submit="addComment()">
              <h2>Leave a comment below</h2>
              <p>Leave feedback on this user by typing your comment below. reddit markdown is supported.</p>
              <textarea class="form-control" id="newComment" ng-trim="false"
                        placeholder="Type comment here in markdown."
                        ng-model="newStuff.newComment"></textarea>
              <div class="panel panel-default">
                <div class="panel-heading">Preview</div>
                <div class="panel-body" ><md ng-model="newStuff.newComment"></md></div>
              </div>
              <button type="submit" ng-disabled="!newStuff.newComment.trim()"
                      class="btn btn-primary">Comment</button>
            </form>
          </div>
          <div class="col-md-8" id="comments">
            <h2>Comments</h2>
            <div class="comment panel panel-default" ng-repeat="comment in refUser.comments">
              <div class="panel-heading">
                <a ng-href="/u/{{comment.user2}}">{{comment.user2}}</a>
                <a href="#" ng-click="deleteComment(comment.id, $index)" class="pull-right"
                   ng-if="(comment.user2 === user.name) || user.modPermissions.includes('all')">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
                <span class="pull-right">{{comment.createdAt | date: "medium"}}</span>
              </div>
              <div class="panel-body"><md ng-model="comment.message"></md></div>
            </div>
          </div>

        </div>
        <div class="tab-pane" id="info">
          <%- partial('profileInfo.ejs') %>
        </div>
        <div class="tab-pane" id="modEdit" ng-if="user.isMod && (user.modPermissions.includes('all') || (user.modPermissions.includes('posts') && user.modPermissions.includes('wiki')))">
          <%- partial('modEdit.ejs') %>
        </div>
      </div>

    </div>
  </div>


</div>
