<td>
  <strong>
    {{$index + 1}}.
  </strong>
</td>

<td ng-if="isTrade(reference)">
  <a ng-href="{{reference.url}}" target="_blank" ng-mousedown="clickRefLink(reference)">
    {{reference.gave}} for {{reference.got}}
  </a>
</td>

<td ng-if="isEgg(reference) || isInvolvement(reference) || isMisc(reference)">
  <a ng-href="{{reference.url}}" target="_blank" ng-mousedown="clickRefLink(reference)">
    {{reference.description || reference.descrip}}
  </a>
</td>

<td ng-if="isEggCheck(reference)">
  <a ng-href="{{reference.url}}" target="_blank" ng-mousedown="clickRefLink(reference)">{{reference.description || reference.descrip}}
    {{reference.number ? "(" + reference.number + " checked)" : ""}}
  </a>
</td>

<td ng-if="isGiveaway(reference)">
  <a ng-href="{{reference.url}}" target="_blank" ng-mousedown="clickRefLink(reference)">
    {{reference.description || reference.descrip}} (Sub: {{reference.url.split("/")[4]}}{{reference.number ? ", " + reference.number + " given" : ""}})
  </a>
</td>

<td>
  <a ng-if="isTrade(reference) || isEgg(reference) || isInvolvement(reference)" ng-href="{{getRedditUser(reference.user2)}}">
    {{getRedditUser(reference.user2)}}
  </a>
</td>

<td>
  <input  ng-if="user.isFlairMod && !onIndexPage && isApprovable(reference)" type="checkbox" ng-change="approve(reference.id, reference.approved)" ng-model="reference.approved"/>
  <span ng-if="user.isFlairMod && !onIndexPage && reference.edited" && isApprovable(reference)>
    <font class="editstar" title="This reference was edited at some point.">*</font>
  </span>
  <span ng-if="user.isFlairMod && !onIndexPage && reference.verified && isApprovable(reference)">
    <sup><font class="greencheck" title="This trade has been approved and logged by both users.">✓</font></sup>
  </span>
</td>

<td>
  <a href="#viewReferenceModal" data-toggle="modal" ng-click="editReference(reference)" class="icon">
    <span class="glyphicon glyphicon-info-sign"></span>
  </a>
  <a href="#editReferenceModal" data-toggle="modal" ng-click="editReference(reference)"
     ng-if="user.name === refUser.name" class="icon">
    <span class="glyphicon glyphicon-edit"></span>
  </a>
  <a href="#" ng-really-switch="deleteRef" class="icon"
     ng-really-click="deleteRef(reference.id)"
     ng-if="user.name === refUser.name || user.isFlairMod">
    <span class="glyphicon glyphicon-trash"></span>
  </a>
</td>
