<div class="modal fade" id="viewReferenceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">View Reference</h4>
      </div>

      <div class="modal-body row">
        <div class="col-md-6">
          <div id="viewReference" class="panel panel-default">
            <div class="panel-heading">
              <strong>Trade Info</strong>
            </div>
            <div class="panel-body">
              <h4 ng-hide="selectedRef.user2 === ''">
                Traded with: <small class="pull-right">/u/{{selectedRef.user2}}</small>
              </h4>
              <div ng-hide="selectedRef.type === 'egg' ||
                    selectedRef.type === 'giveaway' ||
                    selectedRef.type === 'eggcheck' ||
                    selectedRef.type === 'involvement' ||
                    selectedRef.type === 'misc'">
                <h4>Gave: <small class="pull-right">{{selectedRef.gave}}</small></h4>
                <h4>Got: <small class="pull-right">{{selectedRef.got}}</small></h4>
              </div>
              <h4 ng-show="selectedRef.type === 'egg' ||
                    selectedRef.type === 'giveaway' ||
                    selectedRef.type === 'eggcheck' ||
                    selectedRef.type === 'involvement' ||
                    selectedRef.type === 'misc'">
                Description: <small class="pull-right">{{selectedRef.description}}</small>
              </h4>
              <h4 ng-show="selectedRef.type === 'giveaway' ||
                    selectedRef.type === 'eggcheck'">
                Number given: <small class="pull-right">{{selectedRef.number || 0}}</small>
              </h4>

              <a ng-href="{{selectedRef.url}}">Link to trade</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong>Public Notes</strong>
            </div>
            <div class="panel-body">
              <md ng-model="selectedRef.notes"></md>
            </div>
          </div>
        </div>
        <div ng-if="onIndexPage" class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong>Private Notes</strong>
            </div>
            <div class="panel-body">
              <md ng-model="selectedRef.privatenotes"></md>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
